html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}


/*

  Tooltip

*/
.tooltip {
  padding-bottom: 6px;
  position: relative;
  width: 210px;
}

.tooltip .content {
  background: #111;
  color: white;
  font-size: 13px;
  padding: 14px 16px 13px;
}

.tooltip .arrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #111;
  bottom: 0;
  height: 0;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  width: 0;
}

.tooltip.green .content { background: #335c2a; color: #aadd9c }
.tooltip.green .arrow { border-top-color: #335c2a }

.tooltip.purple .content { background: #4a0356; color: #be96be }
.tooltip.purple .arrow { border-top-color: #4a0356 }

.tooltip.red .content { background: #6c0816; color: #f47575 }
.tooltip.red .arrow { border-top-color: #6c0816 }


/*

  Trigger

*/
#tooltip-triggers {
  height: 120px;
  left: 50%;
  line-height: 28px;
  margin: -60px 0 0 -40px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 80px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#tooltip-triggers > div {
  color: white;
  color: rgba(255, 255, 255, 0.875);
  display: block;
  float: left;
  font-size: 11px;
  height: 40px;
  line-height: 44px;
  overflow: hidden;
  text-align: center;
  width: 40px;
}

#tooltip-triggers .a { background: #90d485 }
#tooltip-triggers .b { background: #39be48 }
#tooltip-triggers .c { background: #a477ad }
#tooltip-triggers .d { background: #8e5198 }
#tooltip-triggers .e { background: #f14d52 }
#tooltip-triggers .f { background: #cc0026 }

#tooltip-triggers .c,
#tooltip-triggers .d,
#tooltip-triggers .e,
#tooltip-triggers .f { cursor: pointer }

#tooltip-triggers > div > span {
  display: block;
  height: 100%;
}

#tooltip-triggers .tooltip-data {
  display: none;
}
