html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}


/*

  Trigger

*/
#tooltip-trigger {
  height: 28px;
  left: 50%;
  line-height: 28px;
  margin: -14px 0 0 -55px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 110px;
}

#tooltip-trigger > span {
  background: #00a447;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 100%;
  text-align: center;

  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#tooltip-trigger .tooltip-data {
  display: none;
}


/*

  Tooltip

*/
.tooltip {
  padding-bottom: 6px;
  position: relative;
  width: 210px;
}

.tooltip .content {
  background: #004d34;
  color: #9adabe;
  font-size: 13px;
  padding: 14px 16px 13px;
}

.tooltip .arrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #004d34;
  bottom: 0;
  height: 0;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  width: 0;
}
